
ul{
    list-style: none;
   
    background: rgb(101, 100, 109);
    overflow: hidden;
    margin-bottom: 0px;
}
li{
    float: left;
    padding: 20px;
    
}
.right{
    float:right;
    text-decoration: underline;
}
li a{
    color:white;
    text-decoration: none;
}
li a:hover{
    color:white;
    text-decoration: none;
}
.Help{
    
    margin-top: 18px;
    margin-right: 20px;
    width: 700px;
    
}
li a:hover{
    
    text-decoration: none;
    
    
}
.low{
    background: white;
    
}
ol.j{
    float: left;
    text-decoration: none;
   
   
}
ol a{
    color: black;
    text-decoration: none;
    
}
ol a:hover{
    text-decoration: none;
    color: black;
    border: 1px solid black;

    
     
    }
  

ol.black{
    float: right;
    margin-right: 20px;
}
.font{
    margin-top: 20px;
}
.images{
    margin-right: 20px;
    margin-top: 30px;
    max-width: 33%;
    display: inline-block;
    margin: auto;
    padding: 20px;
    
    
}
hr.new{
   border: 1px solid black;
}
.footer{
    height: 500px;
    background: rgb(129, 126, 126);
   
}
table.table-borderless{
    color: white;
}
div.k{

    list-style: none;
    text-align: center;
    
}
div p{
    
    border: 1px solid black;
    text-align: center;
    color: white;
}
article.lp a{
    text-decoration: underline;
    color: white;
}


   


